.form {
    display: flex;
}

.form input {
    flex: 1;
    font-size: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ecceff;
}

.create-btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #b076d4;
    border-radius: 3px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.create-btn:hover {
    background: #3bc9db;
  }